html {
	margin: 0;
	padding: 0;
}
body {
  font-size: 18px;
  background-color: #F8D948;
  font-family: 'Handlee', sans-serif;
}

/* HEADER */
/* Установка нового цвета заднего фона и границ вверху и внизу */
.bg-light {
  background-color: #ffffff !important;
  border-top: 3px solid #959A9C;
  border-bottom: 3px solid #959A9C;
}
#logo-image {
  background: url('../images/FV.png') no-repeat;
  width: 165px;
  height: 150px;
  margin: 10px 15px 10px 0px;
}
/* Эффект на логотип  переворот на 360*/
.live {
  overflow:hidden;
}
.live-two {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.live-two:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* Navbar-Brand */
.navbar-brand {
  padding-top: 30px;
}
.navbar-brand h1 {
  font-size: 2.2em;
  font-weight: bold;
}
/* Установка меню и ссылок по центру и изменение размера шрифта */
ul.navbar-nav  {
  font-weight: bold;
  text-align: center;
}
.collapse li a {
  font-size: 1.3em;
  padding-top: 30px;
}
li.nav-item {
  margin-right: 10px;
}
#yellow {
  color: #F8D948;
}
#gray {
  color: #959A9C;
}
/* Search string */
form.d-flex {
  width: 350px;
  padding-top: 22px;
  font-weight: bold;
}
/* Button Search*/
button.btn-outline-success, .btn-outline-success:hover {
  color: #959A9C;
  border-color: #959A9C;
  font-weight: bold;
}
button.btn-outline-success:hover {
  color: #F8D948;
  background-color: #959A9C;
  border-color: #959A9C;
}
input.form-control:focus {
  border-color: #959A9C;
  box-shadow: 0 0 0 0.25rem rgba(149, 154, 156, 0.25);
}
.navbar-light button.navbar-toggler:hover {
  border-color: rgba(0,0,0,.55);
}
/* END HEADER */

/* MAIN CONTENT */
#main-content {
  margin-top: 15px;
}
#examples {
  margin-top: 15px;
  margin-right: 0;
  margin-left: 0;
}
/* Ограничение ширины контейнера */
.container {
  max-width: 950px;
}
.banner-border {
  border: 3px solid #959A9C;
}
/* END MAIN CONTENT */

/* FOOTER */
#style-footer {
  margin-top: 15px;
  text-align: center;
}
#style-footer div.container-fluid p {
  padding-top: 15px;
  margin-bottom: 10px;
}
#button-top {
  background: url(../images/button_top.png) no-repeat;
  width: 50px;
  height: 50px;
  margin: auto;
}
#button-top:hover {
  background: url(../images/button_top_hover.png) no-repeat;
  width: 50px;
  height: 50px;
  margin: auto;
}
/* END FOOTER */

/* GALLERY */
div.col {
  margin-bottom: 10px;
}
/* Эффекты при наведении на изображение наклон*/
.pic {
  overflow:hidden;
}
.pic-two {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.pic:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
  cursor: pointer;
}
/* END GALLERY */

/* ABOUT */
.col-sm-4 {
  padding-right: 0px;
  padding-left: 0px;
}
div.col-sm-4 p {
  margin-bottom: 5px;
  text-align: justify;
  color: #686b6d;
}
div.col-sm-4 p:nth-child(5) {
  margin-top: 15px;
}
div.col-sm-4 p:nth-child(5) a:link, a:visited {
  text-decoration: none;
  color: #686b6d;
}
div.col-sm-4 p:nth-child(5) a:hover, a:active {
  color: #3a3b3b;
  font-weight: bold;
}
/* END ABOUT */

/* CONTACT */
#fix {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
#fix div.col-sm {
  padding-right: 0;
  padding-left: 0;
  height: 450px;
}
/* END CONTACT */

/* MEDIA QUERIES */
@media (min-width: 500px) and (max-width: 991px) {
  .collapse li a { /* toggle menu*/
    font-size: 1.1em;
    padding-top: 5px;
  }
  /* .navbar-brand h1 { FriendlyVector
    font-size: 7vw; 1 vw = 1% of viewport wigth
  } */
}
@media (min-width: 500px) and (max-width: 575px) {
  .container div.row {
    text-align: center;
  }
  .row div.col-sm {
    margin-bottom: 5px;
  }
  #style-footer {
    margin-top: 10px;
  }
}
